.col-sm {
    border: solid 1px black;
}
.col-sm-1 {
    border: solid 1px black;
    word-wrap: break-word;
}
.col-sm-2 {
    border: solid 1px black;
}
.col-sm-3 {
    border: solid 1px black;
}
.col-sm-4 {
    border: solid 1px black;
}
.col-sm-5 {
    border: solid 1px black;
}
.col-sm-6 {
    border: solid 1px black;
}
.col-sm-7 {
    border: solid 1px black;
}
.col-sm-8 {
    border: solid 1px black;
}
.col-sm-9 {
    border: solid 1px black;
}
.col-sm-10 {
    border: solid 1px black;
}
.col-sm-11 {
    border: solid 1px black;
}
.col-sm-12 {
    border: solid 1px black;
}
